{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <main class="acceuil">
        <div class="container">
            <div id="carouselExampleSlidesOnly" class="carousel slide d-flex align-items-center
            justify-content-center" data-ride="carousel">
                <div class="collection">
                    <h1 class="titre">
                        <div class="wordOne">
                            <span class="letters">C</span>
                            <span class="letters">o</span>
                            <span class="letters">l</span>
                            <span class="letters">l</span>
                            <span class="letters">e</span>
                            <span class="letters">c</span>
                            <span class="letters">t</span>
                            <span class="letters">i</span>
                            <span class="letters">o</span>
                            <span class="letters">n</span>&nbsp;
                        </div>

                        <div class="wordTwo">
                            <span class="letters">E</span>
                            <span class="letters">x</span>
                            <span class="letters">c</span>
                            <span class="letters">l</span>
                            <span class="letters">u</span>
                            <span class="letters">s</span>
                            <span class="letters">i</span>
                            <span class="letters">v</span>
                            <span class="letters">e</span>
                        </div>
                    </h1>
                    <a class="button" href="boutique.html">Découvrir</a>
                </div>
                <div class="carousel-inner acceuil">
                    <div class="carousel-item active">
                        <img src="img/watch3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="img/watch4.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="img/Watch.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="img/watch1.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
