{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block main %}
    <main>
        <div class container>
            <h1>Réinicialiser le mot depasse</h1>

            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-primary">Reinicialiser/button>
            {{ form_end(resetForm) }}
        </div>
    </main>
{% endblock %}
