{% extends 'base.html.twig' %}
{% block title %}Page non trouvée{% endblock %}
{% block main %}
    <main>
        <h1 class="text-center mt-4">La page que vous cherchez n'est pas trouvée.</h1>
        <div class="row justify-content-center m-5 ">

            <img class = "img-fluid" src="{{ asset('img/error404.gif') }}">

        </div>


    </main>
{% endblock %}