{% extends 'base.html.twig' %}
{% block title %}Page interdite{% endblock %}
{% block main %}
    <main>
        <h1 class="text-center mt-4">Vous ne pouvez pas acceder à cette page.</h1>
        <div class="row justify-content-center m-5 ">

            <img class = "img-fluid" src="{{ asset('img/error403.gif') }}">

        </div>
    </main>
{% endblock %}